 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
  --------------------------------------------------------------------------------------- */
  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
  
  /* Mettre Box Sizing "border-box" par défaut */
  html , body{
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Les liens par défaut */
  a {
    text-decoration: none;
    color: inherit;
    outline: none;
    display: block;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #5d79ea;
    border-bottom-color: transparent;
  }
  
  /* FONT - Propriétés par défaut
  ----------------------------------------------*/
  body,
  button,
  input,
  select,
  textarea {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
    color: black;
  }
  /* TITRES
  ----------------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 900;
    font-size: 22px;
  }
  h2 {
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 400;
  }
  
  /* PARAGRAPHES
  ----------------------------------------------*/
  p {
    margin-bottom: 2em;
  }
  
  /* BOLD
  ----------------------------------------------*/
  strong, b {
    font-weight: 400;
  }
  
  /* IMAGES
  ----------------------------------------------*/
  img {
    display: block;
    width: 100%;
    height: auto;

  }
  
  /* SELECTIONS, PLACEHOLDERS
  ----------------------------------------------*/
  /*Document selection*/
  ::selection {
    background-color: lightblue;
    color:#fff;
  }
  /*Form elements placeholders*/
  ::placeholder {
    color:#ccc;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .padding {
    padding: 15px;
    
  }
  /*
  --------------------Reset End-----------------------------*/
  /*
  --------------------GRID START-----------------------------*/
  .grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu meat meat meat meat meat'
    'menu products products products products products'
    'footer footer footer footer footer footer';
    grid-gap: 0px;
    padding: 0 1px;
  }
  .grid-container {
    
  }
  /*
  --------------------GRID END--------------------------*/
  /*
  ----------------Header------------------*/
  .header { 
    grid-area: header;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px lightgray solid;
  }
  .logo {
    width: 20%;
  }
  .logo img {
    position: relative;
    width: 70px;
    height: auto;
    z-index: 100;
  }
  .top-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 50px;
    padding-top: 10px;
    font-size: 20px;
  }
  .search {
    display: block;
    width: 20%;
  }
  .list-container {
    width: 50%;
  }
  .search :hover{
    
  }
  .list-container ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 22px;
    
  }
  .list {
    
  }
  .list:hover {
    border-bottom: 1px orange solid;
  }
  .log {
    
  }
  .log:hover {
    border-bottom: 1px orange solid;
  }
  .lan {
    
  }
  .lan:hover {
    border-bottom: 1px orange solid;
  }
 
  .bottom-row {
    height: 35px;
  }
  .nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 20px;
    margin: 0 20px;
  }
  .nav a:hover {
    color: black;
    border-bottom: 5px green solid;
  }
/* for hiden icon */
  .nav-open {
    display: block;
    text-align: center;

  }
  .nav.nav-open{
    background: black;
    color: white;
    height: 100vh;
  }

  .na v.nav-open li {
    padding: 2em 0;
  }
 

  .icon-menu {
    display: none;
  }
  /*
  ----------------Header End------------------*/
   
  /*
  ----------------MENU------------------*/
  .menu {
    grid-area: menu;
    width: 250px;
    background-color: #F7F7F7;
    /* position: fixed;
    z-index: 1; */
  }
  .category {
    border-bottom: 1px gray solid;
    display: block;
  }
  .category a:hover {
    background-color: #E0E0E0;
    color: black;
    display: block;
  }
  #pro-head {
    color: #4ca828;
    /* background-color: lightgray; */
    border-bottom: 1px lightgray solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0Px;
  }
  #pro-head:hover {
    color: #4ca828;
    background-color: #EEEEEE;
    border-bottom: 1px #FEFEFE solid;
   
  }
  /*
  ----------------MENU END------------------*/
  /*
  ----------------MEAT------------------*/
  .meat { 
    grid-area: meat;
    background-color: #F7F7F7;
    border-bottom: 1px lightgray solid;
  }
  .meat-banner {
    border-radius: 1%;   
  }
  
  
  /*
  ----------------  PRODUCTS------------------*/
  .products { 
    grid-area: products;
    background-color: #FDE4F2;
    align-content: center;
    border-top: 1px lightgray solid;
  }
  
  .head-text {
    display: block;
    background-image: linear-gradient(green, green);
    margin: 0 60px;
    color: white;
    margin-top: 15px;
  }
  .row-2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    justify-content: center;
  }
  .column-2 {
    position: relative;
    margin-left: 10px;
    width: 150px;
    height: 250px;
    background-color: lightgray;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-bottom: 5px;
  }
  .column-2 p {
    position: absolute;
    bottom: -35px;
    left: 10%;
    font-size: 16px;
    color: black;
  }
  
  /* Style the images inside the grid */
  .column-2 img {
    opacity: 0.8; 
    cursor: pointer; 
    border: 1px lightgray solid;
    height: 200px;
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .column-2 img:hover {
    opacity: 1;
  }
  #more {
    display: none;
  }
  /* .icon-add-to-basket {
    position: absolute;
    border-radius: 45%;
    border-color: lightgray;
    bottom: 220px;
    left: 71%;
    background-color: white;
  } */
  .icon-add-to-basket {
    position: absolute;
    border: 0;
    top: 10px;
    right: 10px;
    background-color: transparent;
  }


  .icon-add-to-basket::before {
    content: "\e909";
    font-size: 20px;
    color: green;
    
  }
  /*
  ----------------PRODUCTS End------------------*/
  /*
  ----------------FOOTER------------------*/
  .footer { 
    grid-area: footer; 
    background-image: linear-gradient(silver, white);
    justify-content: space-between;
    border-top: 1px red solid;
  }
  .media-icon {
    justify-content: space-around;
    font-size: 2em;
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: lightgray;
  }
  .icon:hover {
    font-size: 30px;
  }
  .ft-text {
    text-align: center;
  }
  .icon-wrap {
    width: 30px;
  }
  .icon-facebook::before {
    content: "\e901";
    color: #3b5998;

  }
  .icon-whatsApp::before {
    content: "\e904";
    color: #25d366;
  }
  .icon-instagram::before {
    content: "\e900";
    color: #e4405f;
  }
  .icon-twitter::before {
    content: "\e903";
    color: #1da1f2;
  }
  .icon-Email::before {
    content: "\e902";
    color: #d14836;
    font-size: 30px;
  }
  /*
  ----------------FOOTER END------------------*/


  /* ----------------new responsive----------------- */
  /* MEDIA QUERIES STYLES
      ------------------------------------*/
	
    /* devices (laptops, 800px and up) */
@media only screen and (max-width: 800px) {
  body {
    background-color: red;
  }
  .bottom-row ul {
    flex-flow: column;
  }
  .bottom-row ul a {
    text-align: center;
  }

  .nav {
    display: none;
  }

  .nav.nav-open {
    display: block;
  }

  .icon-menu {
    display: block;
    position: absolute;
    font-size: 3em;
    top: 0;
    right: 0;
    z-index: 1000;
  }
 
  }
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .body {
    background-color: yellow;
  }

} 




     /* ----------------  SHOPS - HTML PAGE----------------- */

     /* -----------header------------ */
     #shop-header {
      top: 0;
      z-index: 10;
      opacity: 0.5;
    }
         /* -----------banner------------ */
    .banner-swiper {
      height: 100%;
    }
    .swiper-container {
      width: 100%;
      height: 90%;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      margin-top: 80px;
    }
    /* -----------main-content------------ */
    .main-content {
      
    }

    .second-row {
      display: flex;
      justify-content: space-around; 
      margin-bottom: 50px;
    }

    #header-all {
      display: block;
      width: 100%;
      background-color: green;
      text-align: center;
      color: white;
      margin-left: 80px;
      margin-right: 80px;
    }
    .bern {
      outline: 1px lightgray solid;
      width: 30%;
      
    }
    .basel {
      outline: 1px lightgray solid;
      width: 30%;
    }
    .zurich {
      outline: 1px lightgray solid;
      width: 30%;
    }