@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p03k66');
  src:  url('fonts/icomoon.eot?p03k66#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p03k66') format('truetype'),
    url('fonts/icomoon.woff?p03k66') format('woff'),
    url('fonts/icomoon.svg?p03k66#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp2:before {
  content: "\e905";
}
.icon-whatsapp1:before {
  content: "\e904";
  color: #25d366;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-gmail:before {
  content: "\e902";
  color: #d14836;
}
.icon-instagram:before {
  content: "\e900";
  color: #e4405f;
}
.icon-facebook1:before {
  content: "\e901";
  color: #3b5998;
}
.icon-shopping-cart:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e906";
}
